*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: #F11A7B;
  cursor: pointer;
  text-decoration: none;
  transition: all .2s ease-in;
  border-bottom: 2px solid transparent;
}