*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #F11A7B;
  text-decoration: none;
  transition: all .2s ease-in;
  border-bottom: 2px solid #fff;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 1110px;
  margin: 0 auto;
}

.me {
  display: inline-block;
  width: auto;
  height: 200px;
  margin-right: 3rem;
  box-shadow: 10px 10px 0 #F11A7B;
}

.info {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  margin-bottom: 0.75rem;
  color: #505050;
  font: 700 2.5rem 'Montserrat', sans-serif;
}

.text {
  max-width: 350px;
  color: #505050;
  font: 400 1.1rem 'Montserrat', sans-serif;
  line-height: 1.5;
}

.previous-job {
  display: block;
  margin-top: 0.75rem;
}

.previous-company {
  display: inline-block;
  margin-left: 0.25rem;
}

.previous-company:hover {
  border-bottom: 2px solid #F11A7B;
}

.documents {
  display: flex;
  margin-top: 6rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin: 0 0.5rem;
  padding: 1rem;
  border: 1px solid #505050;
  color: #505050;
  font: 400 0.9rem 'Montserrat', sans-serif;
  background: #fff;
  box-shadow: 5px 5px 0 #F11A7B;
}

.button::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 0.25rem;
  background: url('../assets/icons/pdf.svg') no-repeat center;
  background-size: contain;
}